<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <script type="text/javascript">_g = { assets: '{{ static }}' };</script>
        <script src="{{ static }}js/sea/sea.js" id="seajsnode" data-main="init"></script>
        <script src="{{ static }}js/sea/init.js"></script>
        <!--[if lt IE 9]><script src="{{ static }}vendor/html5.js"></script><![endif]-->
        {% block head %}{% endblock %}
    </head>
    <body>
        <!--[if lt IE 7]><![endif]-->
        {% block body %}{% endblock %}
        {% block bottom_js %}{% endblock %}
    </body>
</html>
