{% extends 'clean.html' %}

{% block title %}
SeaJS
{% endblock %}

{% block meta %}
<script src="{{ site }}/static/Example/js/sea/sea.js"></script>
{% endblock %}


{% block body %}

<h2>main.js</h2>
<textarea>define(function(require, exports) {
  
  require('../less/seajs.less')
  
  var $ = require('jq')
  var seajs = require('../coffee/seajs.coffee')
  console.log(seajs)
  
  var string = require('../coffee/string.coffee')
  $('#urlencode').html("?a=a&b=b".urlencode())
  
  exports.string = string

})</textarea>

<h2>string.coffee - urlencode</h2>
<textarea>"?a=a&b=b".urlencode()</textarea>
<div id="urlencode"></div>
<div><script></script></div>
<script>
    seajs.config({
        alias: {
            'jq': '/static/Example/js/vendor/jq',
            'less': '/static/Example/js/vendor/less',
            'coffee': '/static/Example/js/vendor/coffee'
        },
        preload: [
            'plugin-less',
            'plugin-coffee'
        ]
    })
    
    seajs.use('/static/Example/js/main', function(a){})
</script>
{% endblock %}

