<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Slite FED Platform | Rebuilt For TCG</title>
        <meta name="description" content="">
        <meta name="author" content="linyu@eetop.com">
        <style type="text/css">
			* {
				margin: 0;
				padding: 0;
			}

			#slite {
				font-size: 36px;
				padding: 40px;
				color: #666;
			}

			#projects, #pages {
				list-style: none;
				padding: 0 40px;
			}

			#projects li {
				float: left;
			}
			
			#projects li a{
				display: block;
				text-align: center;
				font-size: 18px;
				text-decoration: none;
				color: #444;
			}
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">您目前使用的浏览器已经 <strong>过期</strong>. 请 <a href="http://browsehappy.com/">升级浏览器</a> 或 <a href="http://www.google.com/chromeframe/?redirect=true">激活 Google Chrome 框架</a> 改善体验.</p>
        <![endif]-->
        
        <h1 id="slite"><a href="/">Slite FED Platform</a>::{{ project }}</h1>
		
		{% if projects %}
        <ul id="projects">
        	{% for p in projects %}
        	<li><a href="/{{ p }}"><img src="/static/{{ p }}/logo.png" /><br />{{ p }}</a></li>
        	{% endfor %}
        </ul>
        {% endif %}
        
        {% if pages %}
        <ul id="pages">
        	{% for p in pages %}
        	<li><a href="/{{ project }}/{{ p }}">{{ p }}</a> - {{ pages_index[p] }}</li>
        	{% else %}
        	<li><a href="/">尚无任何展示页面</a></li>
        	{% endfor %}
        </ul>
        {% endif %}
    </body>
</html>
