{% extends "_base" %}

{% block body %}
<h1>模拟上传</h1>
<form action="{{ site }}/_upload" method="post" enctype="multipart/form-data">
  <input type="file" name="data" />
  <input type="submit" value="upload" />
</form>

<h1>模拟Ajax请求</h1>
<div id="json"></div>

<h1>SeaJS的text插件</h1>
<div id="plugin-text"></div>
{% endblock %}

{% block bottom_js %}
<script type="text/javascript">
seajs.config({
	preload: ['plugin-text']
});
modules = [
	'{{ static }}js/main', 
	'jquery', 
	'{{ static }}coffee/string.coffee',
	'{{ static }}tpl/intro.tpl'
];
seajs.use(modules, function(main, $, Str, tpl){
    $('#json').load('{{ site }}/_ajax/json', { resp: '{ "username": "林小雨" }'});
    console.log('run in page:'+Str.lastChar('123456'));
    $('#plugin-text').html(tpl);
});
</script>
{% endblock %}