{% extends "_base" %}

{% block head %}
<style type="text/css">
	body{ opacity: 0 }
</style>
{% endblock %}

{% block body %}
<h1>模拟上传</h1>
<form action="{{ site }}/_upload" method="post" enctype="multipart/form-data">
  <input type="file" name="data" />
  <input type="submit" value="upload" />
</form>

<h1>模拟Ajax请求</h1>
<div id="json"></div>

<h1>SeaJS的text插件</h1>
<div id="plugin-text"></div>
{% endblock %}

{% block bottom_js %}
<script type="text/javascript">
// 可以额外载入css, 执行define中的接口函数，以及引入模版文件
seajs.use([
	'app/main', // 引入 js/sea/app/main.js
	ASSETS_ROOT + 'tpl/intro.tpl'
], function(main, intro){
	var words = 'hello world';
	main.loadJson('#json', '/_ajax/json');
	main.printText('#plugin-text', intro);
	main.bodyFadeIn();
	alert(words+'最后一个字符:' + main.Str.lastChar(words));
});
</script>
{% endblock %}